h1 {
    border: 2px #eee solid;
    color: black;
    text-align: center;
    padding: 10px;
}

h2 {
    text-align: center;
}

body {
    position: relative;
    min-height: 100%;
}

form, p {
    text-align: center;
}

label {
    display: inline;
    text-align: left;
}

#footer {
    text-align: right;
    bottom: 0%;
    position: relative;
}

#warning {
  text-align: center;
}