<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    {% block head %}
    <link rel="stylesheet" href="static/style.css" />
    <script type = "text/javascript" src="static/script.js"></script>
    {% block title %}<title>Three Amigos</title>{% endblock %}
    {% endblock %}
</head>
<body>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
        {% block footer %}
        Created 2023 by <a href="https://linkedin.com/in/justin-wheeler-9a97b9120">Justin Wheeler</a>.
        {% endblock %}
    </div>
</body>
</html>